body{
  /* background-image: url('theGaugebg.png'); */
  padding: 0px;
}

.container-row{
  display: flex;
  align-items: center;
}

.container-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerLogo{
  height: 10rem;
  width: auto;
}

.footerLogo{
  height: 15rem;
  width: auto;
}

/* Scroll bar style */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #641E1E;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 30, 30, 0.7);
}

@media screen and (max-width: 500px) {
  
}

.article{
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.025em;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: justify;
  padding-right: 4rem;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  bottom: 10rem;
}