body {
  margin: 0;
  font-family: 'Ramabhadra', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.theGaugeTheme{
  background-color: #641E1E;
  font-family: 'Ramabhadra';
}

.theGaugeFont{
  font-family: 'Ramabhadra', sans-serif;
}